.light {
  &.login-wrapper {
    background-color: white;
    // background-image: url('@/assets/assets-login-bg-white.png');
  }
}

.dark {
  &.login-wrapper {
    background-color: var(--td-bg-color-page);
    // background-image: url('@/assets/assets-login-bg-black.png');
  }
}

.login-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: 100%;
  position: relative;
}

.login-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 489px;
  width: 489px;
  background-image: url('@/assets/img/login_circle.png');
  background-size:100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-titleimg{
  height: 44px;
  position: absolute;
  top: -92px;
}



